* {
    touch-action: manipulation;
}

select {
    font-size: 4vw;
}

span, button {
    font-size: 4.25vw;
}

button {
    -webkit-appearance: none;
}

button, select {
    margin: 0vw;
}

body {
    font-family: Sans-Serif;
}